<!doctype html>
<html lang="fr">
  <%-  include('./partials/header.ejs') %>
  <main id="content" role="main" class="site">
    <div class="card">
      <h3>Historique des accès</h3>
      <table class="table"><thead><tr><th>ID utilisateur</th><th>Heure</th><th>Action</th><th>Document</th></tr></thead>
      <tbody>
        <tr><td>u_102</td><td>2025-11-19 08:22</td><td>Consultation</td><td>Dossier Jane</td></tr>
        <tr><td>u_501</td><td>2025-11-20 14:02</td><td>Téléchargement</td><td>Echo_2025.pdf</td></tr>
      </tbody></table>
    </div>
  </main>
  <%-  include('./partials/footer.ejs') %>
</html>
