<!doctype html>
<html lang="fr">
  <%-  include('./partials/header.ejs') %>
  <main id="content" role="main" class="site">
    <div class="card">
      <h3>Historique des tests</h3>
      <table class="table"><thead><tr><th>Type</th><th>Date</th><th>Résultat</th><th>Fichier</th></tr></thead>
      <tbody>
        <tr><td>Échographie</td><td>2025-06-10</td><td>Normal</td><td><a href="#">Télécharger</a></td></tr>
        <tr><td>Test sanguin</td><td>2025-05-20</td><td>Normal</td><td><a href="#">Télécharger</a></td></tr>
      </tbody></table>
    </div>
  </main>
  <%-  include('./partials/footer.ejs') %>
</html>
